* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.top-container {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20%;
    height: 25vh;
}

.top-content-container {
    /*border: 2px solid yellow;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 75%;
    gap: 25px;
}
    
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding-top: 10px;
}

.header-text {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    flex: 1;
}

.hero-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-subtext, a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    display: flex;
    background-color: #808590;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
}

ul {
    display: flex;
    list-style-type: none;
    color: white;
    gap: 20px;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882F6;
    border: none;
    color: white;
    border-radius: 5px;
}

.sign-up-button {
    width: 100px;
    height: 25px;
}

.information-container {
    height: 25vh;
}

.information-text {
    text-align: center;
    padding: 40px 0px;
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
}

.image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.image {
    height: 150px;
    width: 150px;
    text-align: center;
}

.information-image {
    border: 3px solid #3882F6;
    border-radius: 20px;
    height: 150px;
    width: 150px;
}

.quote-container {
    height: 25vh;
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 32px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote-text-container {
    width: 60%;
}

.signature-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.signature-text {
    font-weight: 700;
}

.bottom-container {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    padding: 40px 0px;
    color: white;
    border-radius: 10px;
    width: 75%;
}

.white-border {
    border: 2px solid white;
}